<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid navbar-brand">
            <h3>Bem Vindo</h3>
        </div>
    </nav>

    <header>
        <div style="background: rgb(224, 221, 221); height: 300px;">
            <div class="container p-3">
                <h1 class="display-4">Não Quero</h1>
                <p class="lead">Não gosto de escrever Olá Mundo entao não vai ter Olá Mundo no meu site.</p>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col display-4">
                    Ano Hana
                    <p class="lead">
                        Um grupo de seis amigos de infância se separam após um deles, Meiko "Menma" Honma, morrer em um
                        acidente. ... Em um dia de verão, porém, Menma aparece para Jinta, com uma aparência mais velha,
                        pedindo-lhe ajuda para realizar seu desejo. Ela acredita que precisa realizá-lo para cumprir seu
                        destino.
                    </p>
                </div>
                <div class="col display-6">
                    A Masmorra Oculta Onde Só Eu Posso Entrar
                    <p class="lead">
                        A Dungeon Secreta é um lugar lendário onde escondem-se raros tesouros e itens. Nor, o terceiro filho de um clã de nobres falidos que acaba de perder sua única oportunidade de emprego, ouve falar por acaso da dungeon. Ele logo adquire uma habilidade que lhe permite criar, editar e conferir habilidades.
                    </p>
                </div>
                <div class="col display-4">
                    O heroi do escudo
                    <p class="lead">
                        Naofumi Iwatani, um adolescente japonês, foi invocado por magos de um reino de um mundo paralelo
                        junto com outros três rapazes para se tornarem heróis do mundo. ... Enquanto os outros heróis
                        receberam armas ofensivas, Naofumi recebeu o escudo lendário, a única arma defensiva.
                    </p>
                </div>
            </div>
        </div>
    </article>

</body>

</html>